/*Split file to reduce clutter*/
main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}
#previewBox {
    background-color: grey;
    color: lightgray;
    font-size: 20px;
    margin: 40px 12vw 10px 12vw;
    border-radius: 10px;
    width: 80vw;

    align-items: center;
}
#settingsBox, #targetBox{
    margin: 0px 50px;
}
    
#targetKeyLabel{
    align-self: center;
    justify-self: center;
}

#settingsBox, .list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.list {
    flex-grow: 1;
}
#targetBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 0 0 20px 0;
}
#settingsLeft, .switchLists{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#puncOn, #specialOn {
    border-bottom: 2px solid orangered;
}
 .switchHolder{
    flex-grow: 1;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.buttonSliderContainer {
    flex-grow: 1;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.buttonSliderContainer > * {
    margin: 0px 8px;
}
.target {
    background-color: blueviolet;
}
.keyDisplay {
    margin-bottom: 0;
}
