/*Split file to reduce clutter*/
#previewBox {
    color: grey;
    font-size: 20;
}
#settingsBox, .buttonSliderContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
#settingsLeft{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}