/*Split file to reduce clutter*/
#previewBox {
    background-color: grey;
    color: lightgray;
    font-size: 20px;
    margin: 0px 30px;
    border-radius: 3px;
}
#settingsBox, #targetBox{
    flex-grow: 1;
    margin: 0px 50px;
}

#settingsBox, .buttonSliderContainer, .switchHolder, .list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
#settingsLeft, .switchLists{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#puncOn, #specialOn {
    border-bottom: 2px solid orangered;
}

