/*Split file to reduce clutter*/
#previewBox {
    color: grey;
    font-size: 40;
}
#settingsBox, .buttonSliderContainer, .switchHolder, .switchLists div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
#settingsLeft, .switchLists{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#onList {
    border-bottom: 2px solid orangered;
}